################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IptvFtw
/IptvFtw/bin/x86/Debug
/IptvFtw/obj
/IptvFtw/AppPackages
/IptvFtw/bin
/IptvFtw/BundleArtifacts
/.vs/CopilotSnapshots/A7F857A7E0AF704FB5E48D1195224700
